<div ng-controller="SavedFormsCtrl">
    <div class="container-fluid">
    <a href="#/" class="btn btn-custom btn-lg btn-block">Back</a>
    <hr/>
    <button class="btn btn-custom btn-lg btn-block" ng-click="submitAllLocal()">Submit all saved forms</button>

    <hr>
    <h4>Forms Pending Submission</h4>
    <div class="list-group">
      <a ui-sref="formentry({savedFormId:form.savedFormId,formUuid:form.encounter.form.uuid,patientUuid:form.encounter.patient.uuid})" class="list-group-item" ng-repeat="(savedFormId,form) in pendingSubmission">
	<b>{{form.p.getName() + ' : ' + form.encounter.encounterDatetime.substring(0,10)}}</b>
      </a>
    </div>

    <hr>
    <h4>Saved Drafts</h4>
    <div class="list-group">
      <a ui-sref="formentry({savedFormId:savedFormId,formUuid:form.encounter.form})" class="list-group-item" ng-repeat="(savedFormId,form) in savedDrafts">
	<b>{{form.p.getName() + ' : ' + form.encounter.encounterDatetime.substring(0,10)}}</b>
      </a>
    </div>


  </div>
</div>
