<div ng-controller="ClinicEncounterDataCtrl">
  <div class="container-fluid">
    <a class="btn btn-custom btn-lg btn-block" back-button>Back</a>

    <!--amrs-table
      columns="col1,col2,col3"
      column-labels = "Col1,Col2,Col3,Col4"
      column-filters="range,null,range,query,range"
    </amrs-table-->

    <table class='table table-hover table-striped'>
      <thead>
      <tr>
        <th></th>
        <th>Date</th>
        <th>Encounter Type</th>
        <th>Identifier(s)</th>
        <th>Age</th>
        <th>Gender</th>
        <th>Visit Num</th>
        <th>Prev RTC Date</th>
        <th>ARV Start Date</th>
        <th>Current ARV Regimen</th>
        <th>EDD</th>
        <th>Last CD4 Count</th>
        <th>CD4 Count Date</th>
        <th>Last Viral Load</th>
        <th>Viral Load Date</th>

      </tr>
      <tr>
        <th><input type="button" ng-click="filterResults()" value="Filter"/></th>
        <th>
          <input style="font-size:x-small" type="text" ng-model="filters.encounter_datetime.startFilter" datepicker-popup="yyyy-MM-dd" is-open="dt1.open" ng-click="dt1.open=true"/> -
          <input style="font-size:x-small"type="text" ng-model="filters.encounter_datetime.endFilter" datepicker-popup="yyyy-MM-dd" is-open="dt2.open" ng-click="dt2.open=true"/>
        </th>
        <th></th>
        <th></th>
        <th></th>
        <th><select ng-model="filters.gender.generalFilter"><option/><option>M</option><option>F</option></select></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th>
          <input style="font-size:x-small" type="text" ng-model="filters.cd4_1.startFilter"/>
          - <input style="font-size:x-small" type="text" ng-model="filters.cd4_1.endFilter"/>
        </th>
        <th>
          <input style="font-size:x-small" type="text" ng-model="filters.cd4_1_date.startFilter"  datepicker-popup="yyyy-MM-dd" is-open="dt3.open" ng-click="dt3.open=true"/>
          - <input style="font-size:x-small" type="text" ng-model="filters.cd4_1_date.endFilter" datepicker-popup="yyyy-MM-dd" is-open="dt4.open" ng-click="dt4.open=true"/></th>
        <th><input style="font-size:x-small" type="text" ng-model="filters.vl_1.startFilter"/> - <input type="text" ng-model="filters.vl_1.endFilter"/></th>
        <th><input style="font-size:x-small" type="text" ng-model="filters.vl_1_date.startFilter"  datepicker-popup="yyyy-MM-dd" is-open="dt6.open" ng-click="dt5.open=true"/>
          - <input style="font-size:x-small" type="text" ng-model="filters.vl_1_date.endFilter"  datepicker-popup="yyyy-MM-dd" is-open="dt6.open" ng-click="dt6.open=true"/></th>
      </tr>
      </thead>
      <tbody>
      <tr ng-repeat="encounter in encounters" ng-click="toPatientDashboard(encounter.uuid)">
        <td></td>
        <td>{{encounter.encounter_datetime.substring(0,10)}}</td>
        <td>{{encounter.encounter_type}}</td>
        <td style="width:10px">{{encounter.identifiers}}</td>
        <td>{{encounter.age}}</td>
        <td>{{encounter.gender}}</td>
        <td>{{encounter.visit_num}}</td>
        <td>{{encounter.prev_rtc_date.substring(0,10)}}</td>
        <td>{{encounter.arv_start_date.substring(0,10)}}</td>
        <td>{{toTitleCase(encounter.cur_arv_meds)}}</td>
        <td>{{encounter.edd.substring(0,10)}}</td>
        <td>{{encounter.cd4_1}}</td>
        <td>{{encounter.cd4_1_date.substring(0,10)}}</td>
        <td>{{encounter.vl_1}}</td>
        <td>{{encounter.vl_1_date.substring(0,10)}}</td>
      </tr>
      </tbody>
    </table>


    <br/>
  </div>
</div>
