<div infinite-scroll='loadMore()' infinite-scroll-distance='0' infinite-scroll-disabled='busy'>
  <table class='table table-hover table-striped'>
    <tr>
      <td>Date</td>
      <td>BP</td>
      <td>Pulse</td>
      <td>Temperature</td>
      <td>Oxygen Sat</td>
      <td>Height</td>
      <td>Weight</td>
    </tr>
    <tr ng-repeat="encounter in encounters" ng-click="showEncounter(encounter.uuid,encounter.form.uuid)">
      <td>{{encounter.encounter_datetime.substring(0,10)}}</td>
      <td>{{encounter.systolic_bp}} / {{encounter.diastolic_bp}}</td>
      <td>{{encounter.pulse}}</td>
      <td>{{encounter.temp}}</td>
      <td>{{encounter.oxygen_sat}}</td>
      <td>{{encounter.height}}</td>
      <td>{{encounter.weight}}</td>
    </tr>
  </table>
  <div ng-show='busy && !allDataLoaded'><b>Loading data...</b></div>
  <div ng-show='allDataLoaded'><b>All data loaded</b></div>
</div>
